.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 96px); /* Adjust "60px" to the actual height of your header */
  }
   
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}