@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&display=swap');

html {
    height: 100%
}

.footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(to bottom left, rgba(255, 105, 180, 0.2), 
    rgba(255, 192, 203, 0.2), rgba(255, 166, 0, 0.2));
    font-size: 1em;
}
/*https://stackoverflow.com/a/59997588*/

body {
    background-image: linear-gradient(to bottom right, hotpink, pink, orange);
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3vw;
    color: rgb(30, 30, 30);
    margin-left: 20px;
}

p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5vw;
    color: black;
}

table, th, td {
    border:1px solid black;
}